* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(58, 58, 58);
}

header {
    background-color: rgba(0, 0, 0, 0.598);
    padding-bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 60px rgb(0, 0, 0);
}

.title {
    background-color: rgb(40, 40, 40);
    color: rgba(255, 255, 255, 0.876);
    text-shadow: 0 2px 15px black;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    font-size: 40px;
    border-bottom: 0.9px solid rgba(255, 255, 255, 0.137);
}

span {
    color: rgb(0, 85, 255);
}

.navbar {
    background-color: rgba(0, 0, 0, 0.463);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0.9px solid rgba(116, 115, 115, 0.212);
}

.links {
    display: flex;
    list-style: inside;
    margin-left: 10px;
}

.links li {
    text-decoration: none;
    list-style-type: none;
    margin-left: 19px;
    color: rgba(255, 255, 255, 0.587);
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.148);
    border-radius: 10px;
    transition: ease 0.3s;
}

.links li:hover {
    color: rgb(209, 224, 253);
    cursor: pointer;
    background-color: rgba(25, 25, 151, 0.375);
    box-shadow: 0 0px 5px rgb(123, 123, 255);
}

main {
    background-color: rgba(2, 2, 2, 0.546);
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px black;
    transition: ease 0.5s;
}

.field {
    background-color: rgba(86, 135, 248, 0.289);
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.title-legend {
    color: rgb(254, 254, 255);
    font-size: 30px;
    text-shadow: 0 2px 5px black;
    font-weight: 4px;
    text-align: center;
}

.field p {
    color: white;
    text-align: justify;
    font-size: 16px;
}

main:hover {
    box-shadow: 0 10px 40px rgba(123, 123, 252, 0.605);
}