html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(71, 71, 71);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: whitesmoke;
    text-align: center;
    padding: 8px 10px;
    background-color: rgb(45, 45, 45);
    text-shadow: 0 1px 15px rgb(212, 3, 244);
    margin: 10px 0;
}

/*Flex-items properties */
.box {
    background-color: rgb(0, 140, 255);
    height: 100px;
    width: 100px;
    border: 1px solid blue;
    border-radius: 5px;
    /* box-flex properites */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 0 1px 10px black;
    flex-basis: 20%;
}

/*Flex-container properties */
.flex-container {
    /* container color properties */
    background-color: rgb(28, 27, 27);
    border: 2px solid rgba(240, 248, 255, 0.635);
    height: 73vh;
    /* container flex properties */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 30px;
    
    
}



