form {
    background-color: grey;
    color: white;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 440px;
    cursor: pointer;
}


form input[type="radio"] {
    appearance: none;

    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content:"";
    width: 11px;
    height: 11px;
    background-color: blue;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}