* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*Grid-propertice*/
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "aside content content"
    "aside section section"
    "footer footer footer";

    grid-template-rows: 60px 60px 1fr 1fr 60px;
    grid-template-columns: 300px 1fr 1fr;
}

.header,
.nav,
.aside,
.content,
.section,
.footer {
    border: 1px solid rgb(253, 252, 252);
    padding: 10px;
    background-color: gray;
    color: white;
}

.header {
    grid-area: header;
    background-color: rgb(1, 179, 179);
}
.nav {
    grid-area: nav;
    background-color: rgb(2, 221, 2);
}
.aside {
    grid-area: aside;
    background-color: rgb(98, 255, 98);
}
.content {
    grid-area: content;
    background-color: rgb(116, 116, 250);

}
.section {
    grid-area: section;
    background-color: rgb(2, 2, 163);
}
.footer {
    grid-area: footer;
    background-color: rgb(1, 179, 179);
}