h2 {
    background-color: rgb(7, 7, 7);
    color: white;
    margin: 2px;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: greenyellow;
    padding: 30px;
    width: 250px;
}